.errado {
  background-color: rgb(255, 255, 255);
  border-color: 2px gray;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}
.errado:hover {
  background-color: red;
}
main {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: center;
  color: white;
}
.certo {
  background-color: rgb(255, 255, 255);
  border-color: 2px gray;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}
.certo:hover {
  background-color: rgb(21, 255, 0);
}

h2 {
  color: white;
  text-shadow: 0px 0px 3px black;
  
}
h4 {
  color: white;
  text-shadow: 0px 0px 3px black;
}
header {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
h1{
    margin: 0px;
}
#botao{
    color: black;
    background-color: green;
    text-shadow: 0px 0px 3px white;
    
}
#botao:hover{
    background-color: lime;
    text-shadow: 0px 0px 5px black;
}